<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <meta name="wap-font-scale" content="no">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="HandheldFriendly" content="true">
    <meta name="MobileOptimized" content="width">
    <meta name="applicable-device" content="mobile">
    <meta name="keywords" content="">
    <meta name="description" content="">

  <title>周末欢乐~</title>
  <link rel="stylesheet" href="/css/sweetalert.min.css">
  <link rel="stylesheet" href="/css/room.css">
  <body>

  <div class="main">
      <ul class="msg-list J-msg">

      </ul>
      <input type="text" id='msg' class="msg-in J-msg" placeholder='输入内容，键盘enter发送'>
  </div>
  <div class="screen-left">
      <div class="page-box">
          <div class="page">

          </div>
          <div class="page">

          </div>
      </div>
  </div>
  <div class="right J-admin none">
      <a class="btn btn-option J-open-detail">操作</a>
      <ul class="btn-list J-btn">
          <li class="item J-main">返回主场</li>
          <li class="item J-code">抽号环节</li>
          <li class="item J-cosplay">cosplay环节</li>
      </ul>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/zepto.min.js"></script>
  <script src="/js/sweetalert.min.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/room.js"></script>
</body>
</html>